header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 71px;

  color: #344a56;
}
