.nav {
  width: 100%;
  background: #344a56;
  position: absolute;
  left: 0;
  top: 80px;
  height: 55px;

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    margin: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    font-size: 18px;

    color: #ffffff;
  }
}

.title {
  cursor: pointer;
}

.select {
  display: flex;
  align-items: center;

  h2 {
    font-size: 18px;
    padding-right: 20px;
  }

  img {
    margin: 0 5px;
  }

  select {
    background: none;
    border: none;
    font-size: 18px;
    color: #fff;
    outline: none;
    max-width: 250px;

    appearance: none;
    cursor: pointer;
  }
}

option {
  background: #344a56;
  font-size: 18px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.nav__itemUsername {
  margin: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  img {
    margin: 0 10px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    padding: 0;
  }
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 322px;
  height: 50px;
  background: #344a56;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    border-bottom: 0.7px solid #ffffff;

    color: #ffffff;
  }
}

.nav__itemExit {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  color: #ffffff;
  cursor: pointer;
}
